<% provide(:title, "About") %>
<h1>Our company name is</h1>
<h1>KFC</h1>
<h2>you can surprised that we have branch all over the world</h2>
<h2>you can check our branch in <a href="http://www.kfc.co.jp/menu/delivery.html"><em>Tokyo</em></a> and <a href="http://www.kfc.com/storelocator/Default.aspx?address=242%20E%2014th%20St,New%20York,NY"><em>Newyork</em></a></h2>

<h6>This is the sample application for the tutorial</h6>
<h6>we aren't connect to KFC.</h6>

