<% provide(:title, "Help") %>
<h1 class="red">Important</h1>
<h2>
this site isn't complete and we are add this with high priority in our TODO list.
you can't do any thing even sign up for this site but you can click on the link and see the magic.
</h2>
<h2>
I hope this site complete at the end of this course
</h2>
