<footer class="footer">
  <small>
    This site based on 
    the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    ( I want to thank's him so I didn't change this line )
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.varzesh3.com/">News</a></li>
    </ul>
  </nav>
</footer>
