<header class="navbar navbar-fixed-top navbar-inverse blue">
  <div class="container header">
    <%= link_to "KFC", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path , id:"right" %></li>
        <li><%= link_to "Login",   root_path , id:"right" %></li>
        <li><%= link_to "Help",   help_path , id:"right"%></li>
      </ul>
    </nav>
  </div>
</header>
